<% layout('main') -%>
<%
  const faq = [
    {
      id: '1',
      question: 'How long is the Microblading Seminar?',
      answer: 'The Microblading Seminar is a day day course starting every week on Monday through Wednesday and each day the class start from 10 am to 6 pm.',
      heading: 'headingOne',
      collapse: 'collapseOne'
    },
    {
      id: '2',
      question: 'Will I be certified once the seminar is completed?',
      answer: 'Each student will receive a Certificate of Completion from Outstanding Training Center and we will help each student through the Licensing process through the NY States Health Department.',
      heading: 'headingTwo',
      collapse: 'collapseTwo'
    },
    {
      id: '3',
      question: 'How much is the Licensing Fee to be certified by the State of NY? How Long does it take to receive the actual license from the State of NY?',
      answer: 'The Licensing fee is $500, which includes all the fees and application for the States Licensing from the NY States Health Department.',
      heading: 'headingThree',
      collapse: 'collapseThree'
    },
    {
      id: '4',
      question: 'What’s included in the Microblading Seminar?',
      answer: 'During the Microblading Seminar, we will go over different kinds of eyebrow tattoos, what are some of the trending methods and traditional Microblading.  We will go over consultation, design, color blending, color corrections and various techniques and health department requirements for licensing.  During the 3 Days seminar, we will give you all the skills, knowledge and understadning to train some one with no experience or litle experience into a certified Microblading practitioner.',
      heading: 'headingFour',
      collapse: 'collapseFour'
    },
    {
      id: '5',
      question: 'How’s the seminar structured? Who are the instructors?',
      answer: 'We pride ourselves in providing a intimate learning experiences with no more than 10 students for each seminar.  And each of our instructors has over 10 years of Eyebrow Embroidery Experiences.',
      heading: 'headingFive',
      collapse: 'collapseFive'
    },
    {
      id: '6',
      question: 'What’s included in the $1800 Seminar Fee?',
      answer: 'The $1800 Seminar fees includes, all the materials, equipments, and teaching materials for the entire 3 Days Seminar and also a $1,600 Professional Microblading Kit which can service more than 30 clients.',
      heading: 'headingSix',
      collapse: 'collapseSix'
    },
    {
      id: '7',
      question: 'Are there additional training seminars after the Microblading Seminar?',
      answer: 'We offer apprentership at our Beauty Spa for any students wants more hands-on training experiences.',
      heading: 'headingSeven',
      collapse: 'collapseSeven'
    },
    {
      id: '8',
      question: 'I have prior Eyebrow Microblading experiences, can I still attend the Microblading Seminar?  And will the fee be the same?',
      answer: 'Our Microblading Seminar is designed for both entry level with no prior experiences or practitioners with prior experience who just wants some advanced Microblading training.',
      heading: 'headingEight',
      collapse: 'collapseEight'
    },
    {
      id: '9',
      question: 'Will the live model be provided for my own practices?',
      answer: 'Each students are encouraged to bring their own model during the live model portion of the seminar and if not we have synthetic skins for eah students to practice on as well.',
      heading: 'headingNine',
      collapse: 'collapseNine'
    },
    {
      id: '10',
      question: 'Do you offer other kinds of Permanent Makeup Seminar?',
      answer: 'We also offers eyeliner, and lips Permanent Makeup Seminar.',
      heading: 'headingTen',
      collapse: 'collapseTen'
    }
  ];
%>
<div id="faq" class="container-fluid">
  <h1>FAQs</h1>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% faq.forEach((el) => { %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id='<%= el.heading %>'>
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href='#<%= el.collapse %>' aria-expanded="false" aria-controls='<%= el.collapse %>'>
              <%= el.question %>
            </a>
          </h4>
        </div>
        <div id='<%= el.collapse %>' class="panel-collapse collapse" role="tabpanel" aria-labelledby='<%= el.heading %>'>
          <div class="panel-body">
            <%= el.answer %>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

  <!-- Register Partials -->
  <%- include ../partials/register %>

</div>
