<% layout('main') -%>
<%
  const faq = [
    {
      id: '1',
      question: 'How long is the Microblading Hair Stroke Technique Seminar?',
      answer: 'The Microblading Hair Stroke Technique Seminar is 3 Days course starting every week on Monday through Wednesday and the class start from 10 am to 6 pm.',
      heading: 'headingOne',
      collapse: 'collapseOne'
    },
    {
      id: '2',
      question: 'Will I be certified once the seminar is completed?',
      answer: 'Each student will receive a Certificate of Completion from Outstanding Training Center.',
      heading: 'headingTwo',
      collapse: 'collapseTwo'
    },
    {
      id: '3',
      question: 'How much is the Licensing Fee to be certified by the State of NY? How Long does it take to receive the actual license from the State of NY?',
      answer: 'The Licensing fee for NY State is $126, which includes all the fees and application for the NY States Tattoo License from the NY States Health Department.',
      heading: 'headingThree',
      collapse: 'collapseThree'
    },
    {
      id: '4',
      question: 'What’s included in the Microblading Seminar?',
      answer: 'During the Microblading Seminar, we will go over different kinds of eyebrow tattoos, what are some of the trending methods and traditional techniques.  We will go over consultation, design, color blending, color corrections and various techniques and health department requirements for licensing.  During the 3 Days seminar, we will train some one with no experience or litle experience into a certified Microblading Hair Stroke Technique practitioner.',
      heading: 'headingFour',
      collapse: 'collapseFour'
    },
    {
      id: '5',
      question: 'How’s the seminar structured? Who are the instructors?',
      answer: 'We pride ourselves in providing a intimate learning experiences with no more than 10 students for each seminar.  And each of our instructors has over 10 years of Permanent Makeup Experiences.',
      heading: 'headingFive',
      collapse: 'collapseFive'
    },
    {
      id: '6',
      question: 'What’s included in the $1800 Seminar Fee?',
      answer: 'The $1800 Seminar fees includes, all the materials, equipments, and teaching materials for the entire 3 Days Seminar and also a $1,600 Professional Microblading Kit which can service up than 30 clients.',
      heading: 'headingSix',
      collapse: 'collapseSix'
    },
    {
      id: '7',
      question: 'Does Outstanding Training Center offers advanced training seminar?',
      answer: 'Yes, beside the basic Microblading Hair Stroke Technique, we us offer one day seminar on various other permanent makeup such as Lips, Eyeliner, Powdered Looks, Aeoeral Repigmentation and Hairline rejuvenation. ',
      heading: 'headingSeven',
      collapse: 'collapseSeven'
    },
    {
      id: '8',
      question: 'I have prior Eyebrow Microblading experiences, can I still attend the Microblading Seminar?  And will the fee be the same?',
      answer: 'Our Microblading Seminar is designed for both entry level with no prior experiences or practitioners with prior experience who just wants some advanced Microblading training.',
      heading: 'headingEight',
      collapse: 'collapseEight'
    },
    {
      id: '9',
      question: 'Will the live model be provided for my own practices?',
      answer: 'Each students are encouraged to bring their own model during the live model portion of the seminar and if not we have synthetic skins for eah students to practice on as well.',
      heading: 'headingNine',
      collapse: 'collapseNine'
    },
    {
      id: '10',
      question: 'Do you sell products for the Permanent Makeup procedures?',
      answer: 'Yes, each of the students will be able to purchase products directly through us and each students will receive 20% OFF all products and future seminars.',
      heading: 'headingTen',
      collapse: 'collapseTen'
    },
    {
      id: '11',
      question: 'How can I purchase products for the Permanent Makeup procedures?',
      answer: 'We can be reach at 646-902-1678 / 917-383-3368 or email us at outstandingtrainingcenter@gmail.com.  When calling us please provide the member service team your main contact phone number you provided to us when you first attened any of our training seminars, that is your account phone number.  Only our members can purchase products from Outstanding Training Center.',
      heading: 'headingEleven',
      collapse: 'collapseEleven'
    },
    {
      id: '12',
      question: 'Can I purchase products from Outstanding Training Center without being a member?',
      answer: 'No, we only wholesale products to member students who have been trained by the Outstanding Training Center, to ensure each members have the proper training in using our professional products for the permanent makeup services.',
      heading: 'headingTwelve',
      collapse: 'collapseTwelve'
    },
    {
      id: '13',
      question: 'Can a member client order products through online portals?',
      answer: 'We are in the process of developing a online portal for all our members to purchase product directly, until the portal is completed, in the mean time please call or email us to place an order with Outstanding Training Center.',
      heading: 'headingThirteen',
      collapse: 'collapseThirteen'
    }
  ];
%>
<div id="faq" class="container-fluid">
  <h1>FAQs</h1>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% faq.forEach((el) => { %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id='<%= el.heading %>'>
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href='#<%= el.collapse %>' aria-expanded="false" aria-controls='<%= el.collapse %>'>
              <%= el.question %>
            </a>
          </h4>
        </div>
        <div id='<%= el.collapse %>' class="panel-collapse collapse" role="tabpanel" aria-labelledby='<%= el.heading %>'>
          <div class="panel-body">
            <%= el.answer %>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

  <!-- Register Partials -->
  <%- include ../partials/register %>

</div>
